@model Customer
@{
    ViewData["Title"] = "Accounts";
}

    <div>
        <h1 class="display-4">This is ATM page.</h1>

        <h3>Your Accounts</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
                <th></th>
            </tr>
            @foreach (var account in Model.Accounts)
            {
                <tr>
                    <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                    <td>@Html.DisplayFor(x => account.AccountType)</td>
                    <td>@Html.DisplayFor(x => account.Balance)</td>
                    <td>
                        <a class="btn btn-primary"
                           asp-action="Transaction" asp-route-id="@account.AccountNumber">Select</a>
                    </td>
                </tr>
            }
        </table>
    </div>
