@model Login
<div class="jumbotron">
    <h1>Block User Login</h1>
    <p>Click the button below to lock the user</p>
</div>
<div class="container">
    <p class="text-danger">
        <Strong>NOTE</Strong>: This operation will prevent user login their account.
    </p>
</div>
    <div class="container">
        <form asp-action="BlockLogin">
            <table class="table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Block Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(x => Model.UserID)</td>
                        <td>@Html.DisplayFor(x => Model.CustomerID)</td>
                        <td>@Html.DisplayFor(x => Model.IsLocked)</td>
                        <td>
                            <input type="hidden" asp-for="@Model.CustomerID" value="@Model.CustomerID" />
                            <input type="hidden" asp-for="@Model.UserID" value="@Model.UserID" />
                            <input type="hidden" asp-for="@Model.PasswordHash" value="@Model.PasswordHash" />
                            <input type="hidden" asp-for="@Model.ModifyDate" value="@Model.ModifyDate" />
                            <input type="hidden" asp-for="@Model.LockedToDate" value="@Model.LockedToDate" />
                            <input type="submit" value="Change Status" class="btn btn-primary" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to Dashboard</a>
    </div>