@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Dashboard";
}
<div class="jumbotron text-center" style="background-image:url('/img/blue.jpg')" >
    <h1>Dashboard</h1>
    <p>Manage every user in the database</p>
</div>

<div class="row">
    @for (int i = 0; i < Model.Count(); i++)
    {
        if (i > 0 && i % 3 == 0)
        {
        @:</div><div class="row">
            // close and start new row
        }
        <div class="col-md-4">
            <h4>
                @Model.ElementAt(i).Name
            </h4>
            <small>
                <strong>Customer ID: </strong>@Model.ElementAt(i).CustomerID
            </small>
            <p>
                <strong>Address: </strong>@Model.ElementAt(i).Address
                <br />
                <strong>City: </strong>@Model.ElementAt(i).City
                <br />
                <strong>Phone: </strong>@Model.ElementAt(i).Phone
            </p>
            <!-- Split button -->
            <a asp-action="Manage" asp-route-id="@Model.ElementAt(i).CustomerID" class="btn btn-outline-primary float-right" ><img src="~/img/manage.png" width="30" height="30"/>Manage</a>
        </div>
    }
</div>
