@model Customer
@{
    ViewData["Title"] = "My Statement";
}

<div>
    <h1 class="display-4">This is My Statement page.</h1>

    <h3>Your Accounts</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].ModifyDate)</th>
            <th></th>
        </tr>
        @foreach (var account in Model.Accounts)
        {
            var ModifyDate = DateTime.SpecifyKind(account.ModifyDate, DateTimeKind.Utc);
            <tr>
                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                <td>@Html.DisplayFor(x => account.AccountType)</td>
                <td>@ModifyDate.ToLocalTime()</td>
                <td>
                    <a class="btn btn-primary"
                       asp-action="IndexToStatement" asp-route-id="@account.AccountNumber">Show Transaction History</a>
                </td>
            </tr>
        }
    </table>
</div>