@model Customer
@{
    ViewData["Title"] = "BillPay";
}

<div>
    <h1 class="display-4">This is BillPay page.</h1>

    <h3>Select an account:</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
            <th></th>
        </tr>
        @foreach (var account in Model.Accounts)
            {
    <tr>
        <td>@Html.DisplayFor(x => account.AccountNumber)</td>
        <td>@Html.DisplayFor(x => account.AccountType)</td>
        <td>@Html.DisplayFor(x => account.Balance)</td>
        <td>
            <a class="btn btn-primary"
               asp-action="BillPay" asp-route-id="@account.AccountNumber">Create a Bill Pay</a>
        </td>
        <td>
            <a class="btn btn-primary"
               asp-action="BillPayList" asp-route-id="@account.AccountNumber" type="submit" value="Show BillPays" >Show BillPays</a>
        </td>
    </tr>
            }
    </table>
</div>